<div class="container">

  <div class="page-header">
    <h1>Hey <%= user.local.first_name || user.facebook.first_name %>!</h1>
  </div>

  <div class="row">

    <div class="col-sm-3"><br><br>
      <a href="/profile">Profile</a><br><br>
      <a href="/locations">Saved Locations</a><br><br>
      <a href="/profile/edit">Edit Account Information</a>
    </div>

    <div class="col-sm-8">
      <h3>Add Starting Locations</h3>
      <form action="/createLocation" method="post">
      <div class="form-group">
        <label>Location</label>
        <input type="text" class="form-control" name="defaultLocation" placeholder="<%= 'zipcode, state/city or full address' %>">
      </div>

      <div class="form-group">
        <label>Location Name</label>
        <input type="text" class="form-control" name="locName" placeholder="<%= 'name, e.g. work' %>">
      </div>

      <input type="hidden" name="id" value='<%=user._id%>'>

      <button type="submit" class="btn btn-warning btn-lg">Add</button><br><br>

      <h3>Saved Starting Locations</h3>
      <hr>
      <p>
          <!-- Name: Location [Edit] -->
        <% for(var i = 0; i < user.start_locations.length; i++) {%>
          <div class="row">
            <div class="col-md-9">
              <strong><%= user.start_locations[i].name %>: </strong><%= user.start_locations[i].location %>
            </div>
            <div class="col-md-1">
              <a type="submit" href="/edit_s_loc/<%=i%>" class="btn btn-default btn-sm">Edit</a>
            </div>
            <div class="col-md-1">
              <a type="submit" href="/delete_s_loc/<%=i%>" class="btn btn-default btn-sm">Delete</a><br>
            </div>
          </div>
        <% } %>
      </p>

      <h3>Saved Meeting Locations</h3>
      <hr>
      <p>
        <!-- Name: Location -->
        <% for(var i = 0; i < user.meeting_locations.length; i++) {%>
          <div class="row">
            <div class="col-md-9">
              <strong><%= user.meeting_locations[i].name %>: </strong> <%= user.meeting_locations[i].location %>
            </div>
            <div class="col-md-1">
              <a href="<%= user.meeting_locations[i].yelp_url %>">Yelp</a>
            </div>
            <div class="col-md-1">
              <a type="submit" href="/delete_m_loc/<%=i%>" class="btn btn-default btn-sm">Delete</a><br>
            </div>
          </div>
        <% } %>
      </p>
    </div>
  </div>
</div>
