<div class="page-header">

    <h1>Hey <%= user.local.first_name || user.facebook.first_name %>!</h1>

    <!-- <a href="/logout" class="btn btn-default btn-sm">Logout</a> -->

</div>
<div class="row">
  <div class="col-sm-2 col-sm-offset-1"><br><br>
    <a href="/profile">Profile</a><br><br>
    <a href="/locations">Saved Locations</a><br><br>
    <a href="/profile/edit">Edit Account Information</a>
  </div>
  <div class="col-sm-6">
    <!-- <% if(user.facebook.id) { %>
      <h3>Facebook User</h3>
    <% } else { %>
      <h3>Locally Stored User</h3>
    <%}%> -->
    <h3>Profile</h3>
    <p>
      <strong>First</strong>: <%= user.local.first_name || user.facebook.first_name %><br>
      <strong>Last</strong>: <%= user.local.last_name || user.facebook.last_name %><br>
      <strong>Email</strong>: <%= user.local.email || user.facebook.email || "None" %><br>
      <strong><%= user.start_locations[0].name %>: </strong><%= user.start_locations[0].location %>
      <br>
    </p>
  </div>
</div>
